  
<ul>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}">Preview</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'highlight') }}">Highlighted</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'raw') }}">Raw</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'download') }}">Download</a></li>
</ul>
 
<iframe src="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}" frameborder="0"></iframe>

{% set mergedContent %}
<!-- {{ template.getTitle() }} -->
{{ template.render() }}

{% for variant in pt.tapestry.markup.getVariantsOf(template) %}
<!-- {{ variant.getTitle() }} -->
{{ variant.render() }}

{% endfor %}
{% endset %}

{% include '@tapestry/partials/highlight.twig' with {content: mergedContent} %}

{% if template.getMetadata().notes|length %}
{{ template.notes|markdown }}
{% endif %}