  
<ul>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}">Preview</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'highlight') }}">Highlighted</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'raw') }}">Raw</a></li>
    <li><a href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'download') }}">Download</a></li>
</ul>

<h2>Preview</h2>

<iframe src="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}" frameborder="0"></iframe>

{% set mergedContent %}
<!-- {{ template.getTitle() }} -->
{{ template.render() }}

{% for variant in pt.tapestry.markup.getVariantsOf(template) %}
<!-- {{ variant.getTitle() }} -->
{{ variant.render() }}

{% endfor %}
{% endset %}

<h2>HTML</h2>
{% include '@tapestry/partials/highlight.twig' with {content: mergedContent} %}

{% set mergedNotes %}
{{ template.getNotes() }}
{% for variant in pt.tapestry.markup.getVariantsOf(template) %}
{{ variant.getNotes() }}
{% endfor %}
{% endset %}

{% if mergedNotes %}
<h2>Notes</h2>
{{ mergedNotes|markdown }}
{% endif %}