{% extends '@tapestry/layouts/skeleton.twig' %}
{% import _self as funcs %}

{% block body %}
<div class="Sidebar">
    {% block sidebar %}
    
    <div class="Sidebar-section">
        {{ funcs.listMarkup('/', null, 0, 'markup', pt.tapestry.markup) }}
    </div>

    <div class="Sidebar-section">
        {{ funcs.listMarkup('/', null, 0, 'docs', pt.tapestry.docs) }}
    </div>
    
    {% endblock %}
</div>
<div class="Main">
    {% block main %}{% endblock %}
</div>
{% endblock %}

{% macro listMarkup(path, relPath, depth, type, repo) %}
    {% import _self as funcs %}
    {% set items = repo.getAll(path, false).depth('== ' ~ depth) %}
    {% if relPath %}
    {% set items = items.path('/^' ~ relPath|replace({'/':'\\/'}) ~ '/') %}
    {% endif %}
    <ul>
    {% for item in items %}
        <li>
            {% if item.isDir() %}
            <span>{{ item.getTitle() }}</span>
            {{ funcs.listMarkup(path, item.getRelativePathname(), (depth + 1), type, repo) }}
            {% else %}
            <a href="{{ pt.tapestry.view.generateUrl(type, item) }}">{{ item.getTitle() }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}