{% extends '@tapestry/layouts/skeleton.twig' %}
{% import '@tapestry/partials/macros.twig' as macros %}
{% import _self as localmacros %}
{% set resourceGroups = pt.tapestry.resources.getGroups() %}

{% block body %}
<div class="SiteWrapper">
    <div class="SiteHeader">
        <a class="SiteHeader-title" href="/">{{ pt.tapestry.config.title|default('Frontend Deliverables') }}</a>
        <ul class="SiteHeader-nav">
            {% if pt.tapestry.has.markup %}<li><a href="/markup">Markup</a></li>{% endif %}
            {% if pt.tapestry.has.markup %}<li><a href="/resources">Resources</a></li>{% endif %}
            {% if pt.tapestry.has.docs %}<li><a href="/docs">Documentation</a></li>{% endif %}
        </ul>
    </div>
    <div class="SiteBody">
        <div class="Sidebar">
            {% block sidebar %}
            
            {% if pt.request.getUrlSegment(0) == 'markup' and pt.tapestry.has.markup %}
            <div class="Sidebar-section">
                {# <h2 class="Sidebar-sectionTitle">Markup</h2> #}
                <div class="TreeNav">
                    {{ macros.treeNav('/', null, 0, 'markup', pt.tapestry.markup) }}    
                </div>
            </div>
            {% endif %}
            
            {% if pt.request.getUrlSegment(0) == 'resources' and resourceGroups %}
            <div class="Sidebar-section">
                {# <h2 class="Sidebar-sectionTitle">Resources</h2> #}
                <div class="TreeNav TreeNav--collapsible">
                    <ul class="TreeNav-list TreeNav-level0">
                    {% for group in resourceGroups %}
                        <li class="TreeNav-item TreeNav-directoryItem">
                            <span class="TreeNav-title TreeNav-directoryTitle">{{ group.getTitle() }}</span>
                            {{ localmacros.resourcesNav(group.getPath(), null, 0, group) }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if pt.request.getUrlSegment(0) == 'docs' and pt.tapestry.has.docs %}
            <div class="Sidebar-section">
                {# <h2 class="Sidebar-sectionTitle">Documentation</h2> #}
                <div class="TreeNav TreeNav--collapsible">
                    {{ macros.treeNav('/', null, 0, 'docs', pt.tapestry.docs) }}
                </div>
            </div>
            {% endif %}

            {% endblock %}
        </div>
        <div class="Main">
            {% block main %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% macro resourcesNav(path, relPath, depth, group) %}
    {% import _self as localmacros %}
    {% set items = pt.tapestry.resources.getAll(path, false).depth('== ' ~ depth) %}
    {% if relPath %}
    {% set items = items.path('/^' ~ relPath|replace({'/':'\\/'}) ~ '/') %}
    {% endif %}
    <ul class="TreeNav-list TreeNav-level{{ depth }}">
    {% for item in items %}
        <li class="TreeNav-item{% if item.isDir() %} TreeNav-directoryItem{% else %} TreeNav-linkItem{% endif %}">
            {% if item.isDir() %}
            <span class="TreeNav-title TreeNav-directoryTitle">{{ item.getBasename() }}</span>
            {{ localmacros.resourcesNav(path, item.getRelativePathname(), (depth + 1), group) }}
            {% else %}
            <a class="TreeNav-title TreeNav-linkTitle" href="{{ pt.tapestry.view.generateUrl('resources', item, group) }}">{{ item.getBasename() }}</a> 
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}