{% extends '@tapestry/layouts/sidebar.twig' %}

{% block main %}

<div class="Detail">

    <div class="Detail-header">
        
        <h1 class="Detail-title"><span>{{ template.getTitle() }}</span></h1>
        
        <ul class="Detail-links">
            <li class="Detail-linkItemText">
                <span>Open:</span>
            </li>
            <li class="Detail-linkItem">
                <a class="Detail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}">Preview</a>
            </li>
            <li class="Detail-linkItem">
                <a class="Detail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'highlight') }}">Highlighted</a>
            </li>
            <li class="Detail-linkItem">
                <a class="Detail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'raw') }}">Raw</a>
            </li>
            {# <li class="Detail-linkItem">
                <a class="Detail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'download') }}">Download</a>
            </li> #}
        </ul>

    </div>



    <div class="Detail-section">

        <h2 class="Detail-sectionHeader">Preview</h2>

        <iframe src="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}" frameborder="0"></iframe>

{% set mergedContent %}
{% if modifiers|length %}<!-- {{ template.getTitle() }} -->
{% endif %}
{{ template.render() }}

{% for variant in modifiers %}
<!-- {{ variant.getTitle() }} -->
{{ variant.render() }}

{% endfor %}
{% endset %}
        
    </div>

    <div class="Detail-section">

        <h2 class="Detail-sectionHeader">Markup</h2>
        {% include '@tapestry/partials/highlight.twig' with {
            'content': mergedContent,
            'numbers': false,
            'lines': false,
        } only %}

    </div>

    {% set mergedNotes %}
    {{ template.getNotes() }}
    {% for variant in modifiers %}
    {{ variant.getNotes() }}
    {% endfor %}
    {% endset %}
    
    {% if mergedNotes|trim %}
    <div class="Detail-section">
    
        <h2 class="Detail-sectionHeader">Notes</h2>

        {% include '@tapestry/partials/text.twig' with {
            'content': mergedNotes|trim|markdown
        } only %}
    
    </div>
    {% endif %}

</div>

{% endblock %}