{% extends '@tapestry/layouts/sidebar.twig' %}

{% block main %}

<div class="MarkupDetail">

    <div class="MarkupDetail-header">
        
        <h1 class="MarkupDetail-title">{{ template.getTitle() }}</h1>
        <ul class="MarkupDetail-links">
            <li class="MarkupDetail-linkItem">
                <a class="MarkupDetail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}">Preview</a>
            </li>
            <li class="MarkupDetail-linkItem">
                <a class="MarkupDetail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'highlight') }}">Highlighted</a>
            </li>
            <li class="MarkupDetail-linkItem">
                <a class="MarkupDetail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'raw') }}">Raw</a>
            </li>
            <li class="MarkupDetail-linkItem">
                <a class="MarkupDetail-link" href="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'download') }}">Download</a>
            </li>
        </ul>

    </div>

    <div class="MarkupDetail-section">

        <h2 class="MarkupDetail-sectionHeader">Preview</h2>

        <iframe src="{{ pt.tapestry.view.markupUrl(template.getUrlPath(), 'preview') }}" frameborder="0"></iframe>

{% set mergedContent %}
{% if modifiers|length %}<!-- {{ template.getTitle() }} -->
{% endif %}
{{ template.render() }}

{% for variant in modifiers %}
<!-- {{ variant.getTitle() }} -->
{{ variant.render() }}

{% endfor %}
{% endset %}
        
    </div>

    <div class="MarkupDetail-section">

        <h2 class="MarkupDetail-sectionHeader">HTML</h2>
        {% include '@tapestry/partials/highlight.twig' with {
            'content': mergedContent,
            'numbers': false,
            'lines': false,
        } only %}

        {% set mergedNotes %}
        {{ template.getNotes() }}
        {% for variant in modifiers %}
        {{ variant.getNotes() }}
        {% endfor %}
        {% endset %}

        {% if mergedNotes|trim %}
        <h2>Notes</h2>
        {{ mergedNotes|markdown }}
    {% endif %}

    </div>

</div>

{% endblock %}