{% extends '@tapestry/layouts/sidebar.twig' %}

{% block main %}

{% for key, value in metadata %}
{{ key }}: {{ value }}<br>
{% endfor %}

<iframe src="/markup/{{ path }}.html/preview" frameborder="0"></iframe>

<a href="/markup/{{ path }}.html/highlight">Highlighted</a>
{% include '@tapestry/partials/highlight.twig' with {content: template.render} %}

{% if metadata.notes %}
{{ metadata.notes|markdown }}
{% endif %}

{% endblock %}